h2{
    color: blue;
}

.card {
    border: 2px solid black;
    width: 350px;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    margin-top:150px;
    margin-left: auto;
    margin-right: auto;
}
.card img {
    width: 100%;
   
}
.card button{
    width:70%;
    padding:10px;
    margin-bottom: 20px;
    border-radius: 20px;

}
.card button:hover{
    color:aqua;
    background-color: black;
    cursor:pointer;
}
